.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: #bbb;
    font-size: 40px;
    padding: 4px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: 2px;
}

.green {
    background-color: lightgreen;
}

.yellow {
    background-color: lightyellow;
}

.red {
    background-color: lightcoral;
}

section {
    gap: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section > input {
    border: none;
    padding: 5px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #2B2B2B;
}

section > input:focus {
    outline: none;
}

section > button {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: #2B2B2B;
    background-color: #00B8D9;
}

section > button:hover {cursor: pointer}