:root {
  /* Board */
  --board-background: #F2F2F2;

  /* Menu */
  --menu-background: #FFFFFF;
  --menu-color: #2B2B2B;
  --menu-accent: #00B8D9;
  --menu-separator: #2B2B2B1A;
  --menu-accent-hover: #00B8D940;

  /* Global */
  --shadow-color: #22242814;
  --font-primary: 'Noto Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: var(--font-primary);
  font-weight: 400; /* Regular */
}

.app {
  /* Disable selection */
  user-select: none;
  -webkit-user-select: none;

  height: 100%;
  width: 100%;
  position: fixed;
  touch-action: none;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}