:root {
  /* Board */
  --board-background: #f2f2f2;

  /* Menu */
  --menu-background: #ffffff;
  --menu-color: #2b2b2b;
  --menu-accent: #00b8d999;
  --menu-separator: #2b2b2b1a;
  --menu-accent-hover: #00b8d940;
  --menu-deactivated: #2b2b2bb3;

  /* Global */
  --shadow-color: #22242814;
  --font-primary: "Noto Sans", sans-serif;

  /* Shadows */
  --shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030,
    0 2px 4px #00000015;
  --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030,
    0 4px 8px #00000015;
  --shadow-l: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030,
    0 6px 10px #00000015;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: var(--font-primary);
  font-weight: 400; /* Regular */
}

.app {
  /* Disable selection */
  user-select: none;
  -webkit-user-select: none;

  height: 100%;
  width: 100%;
  position: fixed;
  touch-action: none;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}
