.menu {
  position: absolute;
  left: 30px;
  bottom: 30px;

  display: flex;
  flex-direction: row;
  gap: 10px;

  background: var(--menu-background);
  padding: 5px;
  border-radius: 5px;

  box-shadow: var(--shadow-l);
  z-index: 10;
}

.menu > div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.menu > div.selected {
  border-radius: 5px;
  box-shadow: var(--shadow-s);
  background-color: var(--menu-accent);
}

.menu > div:not(.separator):not(.selected):not(.deactivated):hover {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: var(--shadow-s);
  background-color: var(--menu-accent-hover);
}

.menu > div.deactivated > svg {
  fill: var(--menu-deactivated);
}

.menu > div > svg {
  fill: var(--menu-color);
}

.menu > div.separator {
  width: 1px;
  background: var(--menu-separator);
  border-radius: 0.5px;
}
