.popup {
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;

  gap: 10px;
  padding: 10px;

  border-radius: 10px;
  background-color: var(--menu-background);
  box-shadow: 0 2px 4px var(--shadow-color);

  z-index: 999;
  color: var(--menu-color);
}

.popup:not(.info) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup.info {
  user-select: none;
}

body:has(.popup:not(.info)) .app {
  opacity: 0.8;
  pointer-events: none;
  filter: blur(1.75px);
}

.popup > span {
  font-size: 14px;
}

.popup > .actions {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.popup > .actions > button {
  all: unset;
  padding: 8px 14px;
  border-radius: 5px;

  cursor: pointer;
  text-align: center;
  color: var(--menu-background);
  background-color: var(--menu-color);
  box-shadow: 0 2px 4px var(--shadow-color);
  transition: background-color 0.2s ease, color 0.1s ease;
}

.popup > .actions > button:hover {
  color: var(--menu-color);
  background-color: var(--menu-accent-hover);
}