name: Deploy Project

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Add VPS host key
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.DEPLOY_IP }} >> ~/.ssh/known_hosts

      - name: Deploy using rsync
        run: |
          rsync -avz --delete \
            --exclude ".git/" \
            --exclude ".github/" \
            ./ \
            deploy@${{ secrets.DEPLOY_IP }}:/var/www/multimedia/
